/*All*/
@font-face {
    font-family: 'jasmindara';
    src: url('../fonts/jasmindara.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'ekkamaistandard';
    src: url('../fonts/EkkamaiStandard-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
body {
    font-family: 'ekkamaistandard';
}
.font-family-normal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
